  .show-cart li {
    display: flex;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .nav_btn {
    float: inline-end;

  }

  .last {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .total-count {
    position: relative;
    color: green;
    font-weight: bold;
    bottom: 10px;
    right: 20px;
  }
  .tp {
    float: right;
    font-weight: bold;
  }

  .fa-cart-shopping {
    font-size: 30px;
    background-color: none;
    color: white;

  }

  .fa-cart-shopping:hover {
    background-color: none;

  }

  .cart-btn:focus,
  .btnClear:focus,
  .btnOrder:focus {
    outline: none;
    box-shadow: none;
  }

  .btnClear,
  .btnOrder {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  .btnClear:hover,
  .btnOrder:hover {
    color: #fff;
    opacity: 0.8;
  }

  .btnClear {
    background-color: rgba(255, 0, 0, 0.767);
  }

  .btnOrder {
    background-color: rgba(0, 128, 0, 0.719);
  }
  .item-count{
    width:1%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  .input-group-addon.minus-item {
    margin-right: 3px;
  }

  .input-group-addon.plus-item {
    margin-left: 3px;
  }

  /* empty cart css  */
  .empty-cart {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .sad-cart {
    position: relative;
    /* border:2px solid black;s */
    height: 150px;
    width: 150px;
  }

  .dikhja {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
  }

  .gayab {
    display: none;
  }

  .cost {
    margin-left: 10px;
    font-weight: bold;
  }

  @media only screen and (max-width: 580px) {
    table { 
      display: block;
	  }

    tr {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, auto);
    }

    td:not(:first-child) {
      border-top: 0;
    }

    td:first-child {
      grid-column: 1 / 3;
    }

    td:nth-child(2) {
      grid-column: 1 / 3;
    }

    td:nth-child(3) {
      grid-row: 3;
      grid-column: 2 / 3;
      justify-self: end;
    }
    
    .delete-item {
      width: 100px;
    }
    
    td:last-child {
      grid-row: 3;
    }
  }

/*------------- Custom Scrollbar------------------*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-thumb{
    background: #e75656;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(140, 106, 44); 
    background-color: rgb(31, 30, 30);
}
::-webkit-scrollbar-thumb:hover{
    background: #de3608;
    border-radius: 3px;
}
::-webkit-scrollbar:hover{
    width: 15px;
}
