    .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  .nav_btn{
    float: inline-end;

  }
  .last{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .total-count{
    position: relative;
    color: green;
    font-weight: bold;
    bottom:10px;
    right: 20px;
  }
  .fa-cart-shopping{
    font-size: 30px;
    background-color: none;
    color: white;

  }
  .fa-cart-shopping:hover{
    background-color: none;

  }
  .cart-btn:focus {
    outline: none;
    box-shadow: none;
  }