
* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 50px;
  width: auto;
}

/* genre section starts */
#genre{
  text-align: center;
  background-color: palegoldenrod;
  padding: 3% 0;
}

.genre-card{
  border-radius: 10%;
}

.genre-img{
  margin: 10px;
}

.genre-link{
  text-decoration: none;
  font-weight: 1.5rem;
  color: black;
}

.genre-link :hover{
  color: black;
  text-decoration: none;
}

/* genre section ends */

.light{
  --bg-clr:white;
  --bg2-clr:black;
  --footer-clr:#212529;
}

.dark{
  --bg-clr:black;
  --bg2-clr:white;
  --footer-clr:black;
}

.searchBox{
  width: 100%;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form1{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input{
  width: 50%;
}

footer {
  position: relative;
    width: 100%;
    height: auto;
    padding: 25px 80px;
    background: #212529;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.reserved-text {
  font-size: 14px;
  margin-left: 4px;
  color: #9A9DA0;
}

@media (max-width : 900px){
  .genre-card{
    text-align: center;
    margin: 10px 60px 20px;
    padding: 20px 30px;
  }
}


body{
  background-color: var(--bg-clr);
}
/*   CSS For Dark Mode Button Starts  */

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70px;
  border-radius: 50px;
  transition: .6s;
}

.toggle i {
  width: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .3s ease-out;
}

input {
  display: none;
}

/*
  -- Light Mode --
*/

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  margin-right: 15px;
  height: 35px;
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

/*
  -- Dark Mode --
*/

.dark .toggle {
  background: #151d2a;
  margin-right: 15px;
  /* box-shadow:-3px -3px 3px #4a84e0; */
}

.dark .toggle .bx-sun {
  color: white;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(35px);
}

/*----------------Add Main CSS here Prefer using CSS Variables and define them in  .light and .dark classes -------*/

a,div, #genre{
  color: var(--bg2-clr);
}

.swiper-pagination{
  color: var(--bg-clr);
}
.swiper-pagination-bullet{
  background: var(--bg-clr);
}

/* .text-muted{
  color: #000;
} */














/*------------------------------- Main CSS Ends ----------------------------------*/




/*   CSS For Dark Mode Button   */


/* Slider part css starts */
.w-100 {
  height: 70vh;
}

.home .swiper-slide img {
  width: 90%;
  height: 90%;
  background-size: cover;

}

.home .swiper {
  color: var(--black);
  font-size: 50px;
  font-weight: bolder;
  width: 90vw;
  height: 80vh;
  margin-top: 10px;
  padding: 0px;
}

@media (max-width:760px) {
  .home .swiper {
    font-weight: bolder;
    width: 90vw;
    height: 35vh;
    margin-top: 50px;
    padding: 0px;
  }
}

/* Slider Part css ends */


/* footer part css Starts*/
footer .logof{
  margin-top: 10%;
  height: 150px;
  width:200px;
}

footer .footer-part{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .footer-part .sec{
  margin-right: 30px;
}

footer .footer-part .sec.aboutus{
    width:40%;
}

footer .footer-part h2{
  position: relative;
  color:rgb(221, 218, 218);
  font-weight: 500;
  margin-bottom: 10px;
}

footer .footer-part h2:before
{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 2.5px;
  background: rgb(230, 11, 11);
}

footer p{
  color: rgb(221, 218, 218);  
}

footer .sci{
  margin-top: 25px;
  display:flex;   
}

footer .sci li{
  list-style: none;
}

footer .sci li a{
  display: inline-block;
  width:40px;
  height: 40px;
  background: var(--footer-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

footer .sci li a:hover{
  background:#f00;
}

footer .sci li a .fa{
  color:rgb(221, 218, 218);
  font-size:20px;
}

footer .contact{
  width:calc(20%);
  margin-right: 0 !important; 
}

footer .contact .info{
  position:relative;
}

footer .contact .info li{
  display:flex;
  margin-bottom: 16px;
}

footer .contact .info li span :nth-child(1){
  color: rgb(221, 218, 218);
  font-size: 20px;
  margin-right: 10px;
}
footer .contact .info li span{
  color: rgb(221, 218, 218);
}
footer .contact .info li a{
  color: rgb(221, 218, 218) ;
  text-decoration: none;
}
footer .contact .info li a:hover{
  color:rgb(221, 218, 218);
}

.footer-text{
  font-size: 16px;
  color: rgb(221, 218, 218);
  margin-left: 40%;
}
/* footer part css ENDS */

