@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --transition: all 800ms ease;
}

.logo {
  height: 50px;
  width: auto;
}

/* genre section starts */
#genre {
  text-align: center;
  background-color: --bg2-clr;
  padding: 3% 0;
}
.genre-link img{
  width: 130px;
  height: 110px;
  border-radius: 23px;
  margin: 10px 0px 0px 0px;
}
.genre-card {
  border-radius: 10%;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.genre-row :hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  box-shadow: none;
}

.genre-img {
  /* margin: 10px; */
}

.genre-link {
  text-decoration: none;
  color: black;
}

.genre-link:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: yellow;
  border-radius: 20px;
}

/* genre section ends */

.light {
  --bg-clr: white;
  --bg2-clr: black;
  --footer-clr: #212529;
}

.dark {
  --bg-clr: black;
  --bg2-clr: white;
  --footer-clr: black;
}

.searchBox {
  width: 100%;
  height: 80px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.form1 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 50%;
  border-radius: 20px;
}

.my-sm-0{
  border-radius: 20px;
  letter-spacing: 1.2px;
}


/* SWIPER BUTTON STARTS */
.swiper-button-prev{
  padding: 20px;
  border-radius: 20px;
  transform: translate(6px , 80px);
}

.swiper-slide img {
border-radius: 20px;
}

.swiper-button-next{
  padding: 20px;
  border-radius: 20px;
  transform: translate(-10px , 80px);
}

.material-symbols-outlined{
  color: white;
}

footer {
  width: 100%;
  height: auto;
  padding: 30px 10px 10px 50px;
  background: #212529;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reserved-text {
  font-size: 14px;
  margin-left: 4px;
  color: #9a9da0;
}

body {
  background-color: var(--bg-clr);
}

/*   CSS For Dark Mode Button Starts  */

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70px;
  border-radius: 50px;
  transition: 0.6s;
}

.toggle i {
  width: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

input {
  display: none;
}

.signLink{
  background-color: rgb(0, 0, 0);
  padding: 8px 12px 8px 12px ;
  color: white;
  border: 1px solid yellow;
  border-radius: 20px;
  margin: -10px 30px 0px 0px  ;
}

.signLink:hover{
  background-color: yellow;
  margin: 0px 30px ;
  color: black !important;
} 


.sign-toggle{
  display: flex;
  align-items: center;
}
/*
  -- Light Mode --
*/

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  margin-right: 15px;
  height: 35px;
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

.bg-light {
  background-color: var(--bg-clr);
}


/*
  -- Dark Mode --
*/

.dark .toggle {
  background: #151d2a;
  margin-right: 15px;
  /* box-shadow:-3px -3px 3px #4a84e0; */
}

.dark .toggle .bx-sun {
  color: white;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(35px);
}

/*----------------Add Main CSS here Prefer using CSS Variables and define them in  .light and .dark classes -------*/

a,
div,
#genre {
  color: var(--bg2-clr);
}

.swiper-pagination {
  color: var(--bg-clr);
}

.swiper-pagination-bullet {
  background: var(--bg-clr);
}

/*------------------------------- Main CSS Ends ----------------------------------*/

/*   CSS For Dark Mode Button   */

/* Slider part css starts */
.w-100 {
  height: 70vh;
}

.home .swiper-slide img {
  width: 90%;
  height: 90%;
  background-size: cover;
}

.home .swiper {
  color: var(--black);
  font-size: 50px;
  font-weight: bolder;
  width: 90vw;
  height: 80vh;
  margin-top: 10px;
  padding: 0px;
}

@media (max-width: 760px) {
  .home .swiper {
    font-weight: bolder;
    width: 90vw;
    height: 35vh;
    margin-top: 50px;
    padding: 0px;
  }
}

.swiper-button-prev{
  padding: 20px;
  border-radius: 20px;
  transform: translate(6px , 80px);
}

.swiper-button-next{
  padding: 20px;
  border-radius: 20px;
  transform: translate(-10px , 80px);
}
/* Slider Part css ends */

/* footer part css Starts*/

footer .logof {
  height: 150px;
  width: 200px;
}

footer .footer-part {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.footer-part {
  width: 100%;
}

footer .footer-part .sec {
  margin-right: 30px;
}

.aboutus {
  width: 50%;
}

.contact {
  width: 25%;
}

footer .footer-part h2 {
  position: relative;
  color: rgb(221, 218, 218);
  font-weight: 500;
  margin-bottom: 10px;
}

footer .footer-part h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 2.5px;
  background: rgb(230, 11, 11);
}

footer p {
  color: rgb(221, 218, 218);
}

footer .sci {
  margin-top: 25px;
  display: flex;
}

footer .sci li {
  list-style: none;
}

footer .sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--footer-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

footer .sci li a:hover {
  background: #f00;
  transition: var(--transition);
}

footer .sci li a .fa {
  color: rgb(221, 218, 218);
  font-size: 20px;
}

footer .contact {
  /* width:calc(20%); */
  margin-right: 0 !important;
}

footer .contact .info {
  position: relative;
}

footer .contact .info li {
  display: flex;
  margin-bottom: 16px;
}

footer .contact .info li span :nth-child(1) {
  color: rgb(221, 218, 218);
  font-size: 20px;
  margin-right: 10px;
}

footer .contact .info li span {
  color: rgb(221, 218, 218);
}

footer .contact .info li a {
  color: rgb(221, 218, 218);
  text-decoration: none;
}

footer .contact .info li a:hover {
  color: rgb(221, 218, 218);
}

.footer-text {
  font-size: 16px;
  color: rgb(221, 218, 218);
  width: 100%;
  text-align: center;
}

/* footer part css ENDS */

/* english page */
.btn-group {
  min-height: 100vh;
  width: 170px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: blue;
  color:white;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}

.btn-group a {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
}

.btn-group::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 70px;
  /* background: linear-gradient(to right, #ff7675, #e84393); */
  opacity: 0;
  transition: 0.3s;
}

.btn-group:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
  width: 190px;
  height: 70px;
/*   background: linear-gradient(to right, #ff7675, #e84393); */
}

.btn-group:hover::after {
  opacity: 1;
}

.btn-group::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn:focus {
  box-shadow: none;
}

/* add to cart */
.add-to-cart {
  border: none;
  font-family: "Lato";
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.add-to-cart:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.add-to-cart .btn:before {
  font-family: "FontAwesome";
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.add-to-cart {
  padding: 20px 20px 20px 20px;
}

.add-to-cart:before {
  background: rgba(0, 0, 0, 0.15);
}

.add-to-cart {
  background: #2ecc71;
  color: #fff;
}

.add-to-cart .btn .btn-sep:hover {
  background: #27ae60;
}

.add-to-cart:active {
  background: #27ae60;
  top: 2px;
}

.add-to-cart:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* media queries  */
@media (max-width: 900px) {
  .genre-card {
    text-align: center;
    margin: 10px 60px 20px;
    padding: 20px 30px;
  }

  .toggle {
    margin-top: 10px;
  }

  .aboutus {
    width: 100%;
  }

  .contact {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  footer .footer-part {
    flex-direction: column;
  }
}

/* footer part css ENDS */

/* home main part */
.container .row .image {
  width: 100%;
  height: 410px;
  overflow: hidden;
}

.container .row .image img {
  width: 100%;
  transition: 0.5s;
}

.container:hover .row .image img {
  opacity: 0.5;
  transform: translateX(30%);
  /*100%*/
}

.container .row .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*100%*/
  height: 100%;
  background: #343a40;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(1000px) rotateY(-90deg);
}

.container:hover .row .details {
  transform: perspective(500px) rotateY(0deg);
}

.container .row .details .center {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: rgb(252, 249, 249);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container .row .details .center h1 {
  margin: 0;
  padding: 0;
  color: #f02424;
  line-height: 20px;
  font-family: "Alkalami", serif;
  font-size: 20px;
  text-transform: uppercase;
}

.container .row .details .center h1 span {
  font-size: 14px;
  color: #262626;
  font-family: "Alkalami", serif;
}

.container .row .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
  font-family: "Alkalami", serif;
}

.container .row .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  font-family: "Alkalami", serif;
}

.container .row .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
  font-family: "Alkalami", serif;
}

.container .row .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s;
}

.container .row .details .center ul li a:hover {
  background: #ef2b2b;
}

/* scroll to top  */
html {
  scroll-behavior: smooth;
}

#scroll-top {
  height: 60px;
  width: 60px;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;

}

#scroll-top svg {
  width: 50%;
  pointer-events: none;
  color: black;
}

#scroll-top:hover {
  transform: scale(1);
}

#scroll-top a {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-thumb{
    background: #e75656;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(140, 106, 44); 
    background-color: rgb(31, 30, 30);
}
::-webkit-scrollbar-thumb:hover{
    background: #de3608;
    border-radius: 3px;
}
::-webkit-scrollbar:hover{
    width: 15px;
}

